.text{
    font-size: 22px;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px 0 20px;
  }

  ion-card-title {
    color:black;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 20px 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .leyenda {
    color:black;
    font-size: 12px;
    margin:3px 0 0 20px;
  }
  
  