<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Documentos Chile</ion-title>
    <h1 class="leyenda">Portal de trámites para extranjeros</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="documento">Segundo Documento</ion-card-subtitle>
      <img src="../assets/img/2.jpg" width="280" height="150">
      <ion-card-title>Permanencia Transitoria</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      No requerirá autorización previa o visa para el ingreso y estadía en Chile, quien
      lo haga en calidad de titular de un permiso de Permanencia Transitoria. Ello, sin
      perjuicio de aquellos casos en los que sea procedente exigir a los nacionales de
      determinados países una autorización previa o visa otorgada por un consulado chileno
      en el exterior.
      <br>
      Los titulares de permiso de Permanencia Transitoria que se encuentren en el país no
      podrán postular a un permiso de residencia, salvo que cumplan con los requisitos
      establecidos en el artículo 69 de la ley N° 21.325.
    </ion-card-content>
  </ion-card>
</ion-content>
