<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Documentos Chile</ion-title>
    <h1 class="leyenda">Portal de trámites para extranjeros</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="documento">Primer Documento</ion-card-subtitle>
      <img src="../assets/img/1.jpg" width="280" height="150">
      <ion-card-title>Cédula de Identidad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Todos/as los/as extranjeros/as mayores de 18 años residentes en el país, titulares de cualquier
      tipo de Visa o de Permanencia Definitiva, están obligados a obtener su cédula de identidad para
      extranjero dentro de los 30 días siguientes a la fecha de entrega del certificado de Permanencia
      Definitiva o desde que se otorga el respectivo Estampado Electrónico correspondiente a la Visa,
      lo mismo rige para los titulares de la tarjeta de Trabajador Temporario, o de Temporada, otorgadas
      de acuerdo al convenio laboral Chileno-Argentino.
    </ion-card-content>
  </ion-card>
</ion-content>
