.dud{
    font-size: 14px;
    margin: 20px 0 20px 0;
    color:#3880ff;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .dudd{
    font-size: 18px;
    margin: 20px 0 20px 0;
    color:#000000;
    text-align: center;
    display: flex;
    justify-content: center;
  }