<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Documentos Chile</ion-title>
    <h1 class="leyenda">Portal de trámites para extranjeros</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="documento">Tercer Documento</ion-card-subtitle>
      <img src="../assets/img/3.jpg" width="280" height="150">
      <ion-card-title>Nacionalización</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La Carta de Nacionalización es un modo de adquirir la nacionalidad chilena en virtud
      de lo establecido en el Art. 10 N° 3 de la Constitución Política de la República, la
      que se materializa en un Decreto Exento firmado por el Ministro del Interior y Seguridad
      Pública, por orden del Presidente de la República.
      <br>
      Las solicitudes de Carta de Nacionalización se realizan en el portal
      tramites.serviciomigraciones.cl, con ClaveÚnica.
    </ion-card-content>
  </ion-card>
</ion-content>
